
@{
    ViewData["Title"] = "ChessGame";

}

<html>

<body>

    <h2>ChessGame</h2>

    <link runat="server" rel="stylesheet" href="~/css/site.css" />

    <div id="board">
        <div row="8" column="1" class="square-grey" player="white" piece="rook"></div>
        <div row="8" column="2" class="square" player="white" piece="horse"></div>
        <div row="8" column="3" class="square-grey" player="white" piece="bishop"></div>
        <div row="8" column="4" class="square" player="white" piece="queen"></div>
        <div row="8" column="5" class="square-grey" player="white" piece="king"></div>
        <div row="8" column="6" class="square" player="white" piece="bishop"></div>
        <div row="8" column="7" class="square-grey" player="white" piece="horse"></div>
        <div row="8" column="8" class="square" player="white" piece="rook"></div>
        <br />

        <div row="7" column="1" class="square" player="white" piece="pawn"></div>
        <div row="7" column="2" class="square-grey" player="white" piece="pawn"></div>
        <div row="7" column="3" class="square" player="white" piece="pawn"></div>
        <div row="7" column="4" class="square-grey" player="white" piece="pawn"></div>
        <div row="7" column="5" class="square" player="white" piece="pawn"></div>
        <div row="7" column="6" class="square-grey" player="white" piece="pawn"></div>
        <div row="7" column="7" class="square" player="white" piece="pawn"></div>
        <div row="7" column="8" class="square-grey" player="white" piece="pawn"></div>
        <br />

        <div row="6" column="1" class="square-grey" player="" piece=""></div>
        <div row="6" column="2" class="square" player="" piece=""></div>
        <div row="6" column="3" class="square-grey" player="" piece=""></div>
        <div row="6" column="4" class="square" player="" piece=""></div>
        <div row="6" column="5" class="square-grey" player="" piece=""></div>
        <div row="6" column="6" class="square" player="" piece=""></div>
        <div row="6" column="7" class="square-grey" player="" piece=""></div>
        <div row="6" column="8" class="square" player="" piece=""></div>
        <br />

        <div row="5" column="1" class="square" player="" piece=""></div>
        <div row="5" column="2" class="square-grey" player="" piece=""></div>
        <div row="5" column="3" class="square" player="" piece=""></div>
        <div row="5" column="4" class="square-grey" player="" piece=""></div>
        <div row="5" column="5" class="square" player="" piece=""></div>
        <div row="5" column="6" class="square-grey" player="" piece=""></div>
        <div row="5" column="7" class="square" player="" piece=""></div>
        <div row="5" column="8" class="square-grey" player="" piece=""></div>
        <br />

        <div row="4" column="1" class="square-grey" player="" piece=""></div>
        <div row="4" column="2" class="square" player="" piece=""></div>
        <div row="4" column="3" class="square-grey" player="" piece=""></div>
        <div row="4" column="4" class="square" player="" piece=""></div>
        <div row="4" column="5" class="square-grey" player="" piece=""></div>
        <div row="4" column="6" class="square" player="" piece=""></div>
        <div row="4" column="7" class="square-grey" player="" piece=""></div>
        <div row="4" column="8" class="square" player="" piece=""></div>
        <br />

        <div row="3" column="1" class="square" player="" piece=""></div>
        <div row="3" column="2" class="square-grey" player="" piece=""></div>
        <div row="3" column="3" class="square" player="" piece=""></div>
        <div row="3" column="4" class="square-grey" player="" piece=""></div>
        <div row="3" column="5" class="square" player="" piece=""></div>
        <div row="3" column="6" class="square-grey" player="" piece=""></div>
        <div row="3" column="7" class="square" player="" piece=""></div>
        <div row="3" column="8" class="square-grey" player="" piece=""></div>
        <br />

        <div row="2" column="1" class="square-grey" player="black" piece="pawn"></div>
        <div row="2" column="2" class="square" player="black" piece="pawn"></div>
        <div row="2" column="3" class="square-grey" player="black" piece="pawn"></div>
        <div row="2" column="4" class="square" player="black" piece="pawn"></div>
        <div row="2" column="5" class="square-grey" player="black" piece="pawn"></div>
        <div row="2" column="6" class="square" player="black" piece="pawn"></div>
        <div row="2" column="7" class="square-grey" player="black" piece="pawn"></div>
        <div row="2" column="8" class="square" player="black" piece="pawn"></div>
        <br />

        <div row="1" column="1" class="square" player="black" piece="rook"></div>
        <div row="1" column="2" class="square-grey" player="black" piece="horse"></div>
        <div row="1" column="3" class="square" player="black" piece="bishop"></div>
        <div row="1" column="4" class="square-grey" player="black" piece="queen"></div>
        <div row="1" column="5" class="square" player="black" piece="king"></div>
        <div row="1" column="6" class="square-grey" player="black" piece="bishop"></div>
        <div row="1" column="7" class="square" player="black" piece="horse"></div>
        <div row="1" column="8" class="square-grey" player="black" piece="rook"></div>
        <br />

    </div>

</body>

</html>
@section Scripts {
    <script>

        $(document).ready(function () {

            var selection = { piece: '', player: '', row: '', column: '' },
                playerturn = 'white',
                whiteSelectedPiece = 'no',
                blackSelectedPiece = 'no';
            var originColumn,
                originRow,
                destColumn,
                destRow,
                piece;
                                   
            $("[piece]").each(function () {

                let player = $(this).attr('player'),
                    piece = $(this).attr('piece'),
                    boardsquarecolor = $(this).css('background-color')

                if (piece != '' && player != '') {                    
                    $(this).css("background", "url(/images/" + player + piece + ".png)").css("background-size", "75px 75px").css('background-color', boardsquarecolor);
                }
            })

            $("[piece]").on("click", function () {

                if (whiteSelectedPiece != 'no' && playerturn == 'white') {
                    destColumn = $(this).attr('column');
                    destRow = $(this).attr('row');                    

                    // { if move is valid }

                    option = {
                        url: "/Home/Move",
                        dataType: "json",
                        type: "POST",                        
                        data: {
                            "originColumn": originColumn,
                            "originRow": originRow,
                            "destColumn": destColumn,
                            "destRow": destRow,
                            "player": playerturn,
                            "piece": whiteSelectedPiece
                        },
                        success: function (data) {                            
                            console.log(data);

                            if (data == true) {
                                if ($("[column='" + originColumn + "'][row='" + originRow + "']").hasClass('square-grey')) {
                                    var bgcolor = 'grey';
                                }
                                else {
                                    var bgcolor = 'white';
                                }

                                //remove piece
                                $("[column='" + originColumn + "'][row='" + originRow + "']").css('background-image', 'none')
                                    .css('background-color', bgcolor).attr('piece', '').attr('player', '');

                                var dest_bgcolor = $("[column='" + destColumn + "'][row='" + destRow + "']").css('background-color');

                                //add (move) piece
                                $("[column='" + destColumn + "'][row='" + destRow + "']")
                                    .css("background", "url(/images/" + playerturn + whiteSelectedPiece + ".png)")
                                    .css("background-size", "75px 75px").css('background-color', dest_bgcolor);

                                whiteSelectedPiece = 'no';
                                playerturn = 'black';  //maybe make server coordonate
                            }
                            else {
                                alert("Illegal move. Try again.");
                            }
                        },
                        failure: function (errMsg) {
                            alert(errMsg);
                        }
                    };

                    $.ajax(option);
                }

                if (blackSelectedPiece != 'no' && playerturn == 'black') {
                    var destColumn = $(this).attr('column');
                    var destRow = $(this).attr('row');

                    // { if move is valid }

                    option = {
                        url: "/Home/Move",
                        dataType: "json",
                        type: "POST",
                        data: {
                            "originColumn": originColumn,
                            "originRow": originRow,
                            "destColumn": destColumn,
                            "destRow": destRow,
                            "player": playerturn,
                            "piece": blackSelectedPiece
                        },
                        success: function (data) {                            
                            console.log(data);

                            if (data == true) {

                                if ($("[column='" + originColumn + "'][row='" + originRow + "']").hasClass('square-grey')) {
                                    var bgcolor = 'grey';
                                }
                                else {
                                    var bgcolor = 'white';
                                }

                                //remove piece
                                $("[column='" + originColumn + "'][row='" + originRow + "']").css('background-image', 'none')
                                    .css('background-color', bgcolor).attr('piece', '').attr('player', '');

                                var dest_bgcolor = $("[column='" + destColumn + "'][row='" + destRow + "']").css('background-color');
                                //add (move) piece
                                $("[column='" + destColumn + "'][row='" + destRow + "']")
                                    .css("background", "url(/images/" + playerturn + blackSelectedPiece + ".png)")
                                    .css("background-size", "75px 75px").css('background-color', dest_bgcolor);

                                blackSelectedPiece = 'no';
                                playerturn = 'white';
                            }
                            else {
                                alert("Illegal move. Try again.");
                            }
                        },
                        failure: function (errMsg) {
                            alert(errMsg);
                        }
                    };

                    $.ajax(option);
                }
            })

            $("[piece]").on("click", function () {
               
                if (playerturn == 'white' && $(this).attr('player') == 'white') {
                    console.log(playerturn);

                    originColumn = $(this).attr('column');
                    originRow = $(this).attr('row');
                    whiteSelectedPiece = $(this).attr('piece');                   
                }

                if (playerturn == 'black' && $(this).attr('player') == 'black') {
                    console.log(playerturn);

                    originColumn = $(this).attr('column');
                    originRow = $(this).attr('row');
                    blackSelectedPiece = $(this).attr('piece');
                }
            })

            

        });

        


    </script>
}