
@{
    ViewData["Title"] = "ChessGame";

}

<html>

<body>

    <h2>ChessGame</h2>

    <link rel="stylesheet" href="~/css/site.css" />

    <div id="board">
        <div row="8" column="1" class="square-grey" player="white" piece="rook"></div>
        <div row="8" column="2" class="square" player="white" piece="horse"></div>
        <div row="8" column="3" class="square-grey" player="white" piece="bishop"></div>
        <div row="8" column="4" class="square" player="white" piece="queen"></div>
        <div row="8" column="5" class="square-grey" player="white" piece="king"></div>
        <div row="8" column="6" class="square" player="white" piece="bishop"></div>
        <div row="8" column="7" class="square-grey" player="white" piece="horse"></div>
        <div row="8" column="8" class="square" player="white" piece="rook"></div>
        <br />

        <div row="7" column="1" class="square" player="white" piece="pawn"></div>
        <div row="7" column="2" class="square-grey" player="white" piece="pawn"></div>
        <div row="7" column="3" class="square" player="white" piece="pawn"></div>
        <div row="7" column="4" class="square-grey" player="white" piece="pawn"></div>
        <div row="7" column="5" class="square" player="white" piece="pawn"></div>
        <div row="7" column="6" class="square-grey" player="white" piece="pawn"></div>
        <div row="7" column="7" class="square" player="white" piece="pawn"></div>
        <div row="7" column="8" class="square-grey" player="white" piece="pawn"></div>
        <br />

        <div row="6" column="1" class="square-grey" player="" piece=""></div>
        <div row="6" column="2" class="square" player="" piece=""></div>
        <div row="6" column="3" class="square-grey" player="" piece=""></div>
        <div row="6" column="4" class="square" player="" piece=""></div>
        <div row="6" column="5" class="square-grey" player="" piece=""></div>
        <div row="6" column="6" class="square" player="" piece=""></div>
        <div row="6" column="7" class="square-grey" player="" piece=""></div>
        <div row="6" column="8" class="square" player="" piece=""></div>
        <br />

        <div row="5" column="1" class="square" player="" piece=""></div>
        <div row="5" column="2" class="square-grey" player="" piece=""></div>
        <div row="5" column="3" class="square" player="" piece=""></div>
        <div row="5" column="4" class="square-grey" player="" piece=""></div>
        <div row="5" column="5" class="square" player="" piece=""></div>
        <div row="5" column="6" class="square-grey" player="" piece=""></div>
        <div row="5" column="7" class="square" player="" piece=""></div>
        <div row="5" column="8" class="square-grey" player="" piece=""></div>
        <br />

        <div row="4" column="1" class="square-grey" player="" piece=""></div>
        <div row="4" column="2" class="square" player="" piece=""></div>
        <div row="4" column="3" class="square-grey" player="" piece=""></div>
        <div row="4" column="4" class="square" player="" piece=""></div>
        <div row="4" column="5" class="square-grey" player="" piece=""></div>
        <div row="4" column="6" class="square" player="" piece=""></div>
        <div row="4" column="7" class="square-grey" player="" piece=""></div>
        <div row="4" column="8" class="square" player="" piece=""></div>
        <br />

        <div row="3" column="1" class="square" player="" piece=""></div>
        <div row="3" column="2" class="square-grey" player="" piece=""></div>
        <div row="3" column="3" class="square" player="" piece=""></div>
        <div row="3" column="4" class="square-grey" player="" piece=""></div>
        <div row="3" column="5" class="square" player="" piece=""></div>
        <div row="3" column="6" class="square-grey" player="" piece=""></div>
        <div row="3" column="7" class="square" player="" piece=""></div>
        <div row="3" column="8" class="square-grey" player="" piece=""></div>
        <br />

        <div row="2" column="1" class="square-grey" player="black" piece="pawn"></div>
        <div row="2" column="2" class="square" player="black" piece="pawn"></div>
        <div row="2" column="3" class="square-grey" player="black" piece="pawn"></div>
        <div row="2" column="4" class="square" player="black" piece="pawn"></div>
        <div row="2" column="5" class="square-grey" player="black" piece="pawn"></div>
        <div row="2" column="6" class="square" player="black" piece="pawn"></div>
        <div row="2" column="7" class="square-grey" player="black" piece="pawn"></div>
        <div row="2" column="8" class="square" player="black" piece="pawn"></div>
        <br />

        <div row="1" column="1" class="square" player="black" piece="rook"></div>
        <div row="1" column="2" class="square-grey" player="black" piece="horse"></div>
        <div row="1" column="3" class="square" player="black" piece="bishop"></div>
        <div row="1" column="4" class="square-grey" player="black" piece="queen"></div>
        <div row="1" column="5" class="square" player="black" piece="king"></div>
        <div row="1" column="6" class="square-grey" player="black" piece="bishop"></div>
        <div row="1" column="7" class="square" player="black" piece="horse"></div>
        <div row="1" column="8" class="square-grey" player="black" piece="rook"></div>
        <br />

    </div>

</body>

</html>
@section Scripts {
    <script>

        $(document).ready(function () {

            var selection = { piece: '', player: '', row: '', column: '' }
            playerturn = 'white';

            $("[piece]").each(function () {

                
                let player = $(this).attr('player'),
                    piece = $(this).attr('piece'),
                    boardsquarecolor = $(this).css('background-color')

                if (piece != '' && player != '') {
                    //$(this).attr('empty', 'true')
                    //$(this).removeAttr('player').removeAttr('piece')
                    //return
                    console.log(player);
                    $(this).css("background", "url(~/wwwroot/images/" + player + piece + ".png)").css("background-size", "75px 75px").css('background-color', boardsquarecolor);

                }


            })
        });

    </script>
}